<section class="header-main border-bottom">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-3 col-sm-4 col-md-4 col-5">
        <a class="brand-wrap" data-abc="true">
          <img class="logo"
            src="https://res.cloudinary.com/dazjkvk9d/image/upload/v1697659061/ARTE_VIVA_LOGO_MARCA_DE_AGUA_b15fp0.png" />
        </a>
      </div>
      <div class="col-lg-10 col-xl-8 col-sm-12 col-md-8 col-7">
        <div class="d-flex justify-content-end align-items-center">
          <span class="vl"></span>
          <div class="dropdown btn-group">
            <a class="nav-link nav-icons" style="margin-right: 10px" href="#" id="navbarDropdownMenuLink1"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-abc="true"><i
                class="fas fa fa-bell"></i></a>
            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
              <li>
                <div class="notification-title">More Info</div>
                <div class="notification-list">
                  <div class="list-group">
                    <a href="affiliates" class="list-group-item list-group-item-action active" data-abc="true">
                      <div class="notification-info">
                        <div class="notification-list-user-img">
                          <img src="https://img.icons8.com/nolan/100/000000/helping-hand.png" alt=""
                            class="user-avatar-md rounded-circle" />
                        </div>
                        <div class="notification-list-user-block">
                          <span class="notification-list-user-name">Affiliate program</span>
                        </div>
                      </div>
                    </a>
                    <a href="redemption-center" class="list-group-item list-group-item-action active" data-abc="true">
                      <div class="notification-info">
                        <div class="notification-list-user-img">
                          <img src="https://img.icons8.com/bubbles/100/000000/prize.png" alt=""
                            class="user-avatar-md rounded-circle" />
                        </div>
                        <div class="notification-list-user-block">
                          <span class="notification-list-user-name">Redemption Center</span>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action active" data-abc="true">
                      <div class="notification-info">
                        <div class="notification-list-user-img">
                          <img src="https://img.icons8.com/ultraviolet/100/000000/medal.png" alt=""
                            class="user-avatar-md rounded-circle" />
                        </div>
                        <div class="notification-list-user-block">
                          <span class="notification-list-user-name">Achievements</span>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action active" data-abc="true">
                      <div class="notification-info">
                        <div class="notification-list-user-img">
                          <img src="https://img.icons8.com/bubbles/100/000000/call-female.png" alt=""
                            class="user-avatar-md rounded-circle" />
                        </div>
                        <div class="notification-list-user-block">
                          <span class="notification-list-user-name">Contact us</span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <span class="vl"></span>
          <a class="nav-link nav-user-img" data-toggle="modal" data-target="#login-modal" data-abc="true"><button
              class="btn btn-danger loginAdm" routerLink="/admin">
              Admin
            </button></a>
          <button class="btn btn-warning" routerLink="/login">Login</button>
        </div>
      </div>
    </div>
  </div>
</section>
<nav class="navbar navbar-expand-md navbar-main border-bottom" role="navigation">
  <div class="container-fluid">
    <form class="my-2">
      <div class="input-group">
        <input type="search" name="search" class="form-control" placeholder="Buscar..." required=""  style="margin-right: 5px;"/>
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    <div id="dropdown6">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="" data-abc="true">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" data-abc="true">Accessories & Peripheral</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" data-abc="true">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" data-abc="true">Support</a>
        </li>
      </ul>
    </div>
  </div>
</nav>