<app-navbar></app-navbar>
    <header>
	  <div class="overlay">
	    <h1>
	      <img class="logo"
	        src="https://res.cloudinary.com/dazjkvk9d/image/upload/v1697659061/ARTE_VIVA_LOGO_MARCA_DE_AGUA_b15fp0.png"
	        alt="Logo">
	    </h1>
	    <h3>Impresiones personalizadas en 3D</h3>
	    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nostrum quis, odio veniam itaque ullam debitis
	      qui
	      magnam consequatur ab. Vero nostrum quis, odio veniam itaque ullam debitis qui magnam consequatur ab.</p>
	    <br>
	    <button>READ MORE</button>
	  </div>
	</header>